<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
        <encoder>
            <Pattern>%d %-5level [%thread] [${springAppName:-}] [%X{traceId:-}] [%X{rid}] %logger{0}: %msg%n</Pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT_JSON">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger level="INFO" name="com.icthh.xm.ms.entity"/>

    <logger level="INFO" name="tech.jhipster"/>

    <logger level="WARN" name="angus.activation"/>
    <logger level="WARN" name="jakarta.activation"/>
    <logger level="WARN" name="jakarta.mail"/>
    <logger level="WARN" name="jakarta.management.remote"/>
    <logger level="WARN" name="jakarta.xml.bind"/>
    <logger level="INFO" name="jdk.event.security"/>
    <logger level="INFO" name="io.github.resilience4j"/>
    <logger level="WARN" name="ch.qos.logback"/>
    <logger level="WARN" name="com.netflix"/>
    <logger level="ERROR" name="com.netflix.config.sources.URLConfigurationSource"/>
    <logger level="INFO" name="com.netflix.discovery"/>
    <logger level="WARN" name="com.ryantenney"/>
    <logger level="WARN" name="com.sun"/>
    <logger level="WARN" name="com.zaxxer"/>
    <logger level="WARN" name="io.undertow"/>
    <logger level="ERROR" name="io.undertow.websockets.jsr"/>
    <logger level="WARN" name="com.github.benmanes.caffeine"/>
    <logger level="WARN" name="org.apache"/>
    <logger level="OFF" name="org.apache.catalina.startup.DigesterFactory"/>
    <logger level="WARN" name="org.bson"/>
    <logger level="WARN" name="org.hibernate.validator"/>
    <logger level="WARN" name="org.hibernate"/>
    <logger level="OFF" name="org.hibernate.ejb.HibernatePersistence"/>
    <logger level="WARN" name="org.postgresql"/>
    <logger level="WARN" name="org.springframework"/>
    <logger level="WARN" name="org.springframework.web"/>
    <logger level="WARN" name="org.springframework.security"/>
    <logger level="WARN" name="org.springframework.cache"/>
    <logger level="WARN" name="org.thymeleaf"/>
    <logger level="WARN" name="org.xnio"/>
    <logger level="INFO" name="io.swagger.v3"/>
    <logger level="INFO" name="io.github.resilience4j"/>
    <logger level="WARN" name="sun.rmi"/>
    <logger level="WARN" name="liquibase"/>
    <logger level="INFO" name="LiquibaseSchemaResolver"/>
    <logger level="INFO" name="sun.net.www"/>
    <logger level="WARN" name="sun.rmi.transport"/>
    <!-- See https://github.com/jhipster/generator-jhipster/issues/13835 -->
    <logger level="INFO" name="Validator"/>
    <!-- See https://github.com/jhipster/generator-jhipster/issues/14444 -->
    <logger level="INFO" name="_org.springframework.web.servlet.HandlerMapping.Mappings"/>
    <!-- jhipster-needle-logback-add-log - JHipster will add a new log with level -->

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <root level="#logback.loglevel#">
        <appender-ref ref="${LOG_APPENDER_NAME:-STDOUT}"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <springProperty name="springAppName" scope="context" source="spring.application.name"/>

</configuration>
