<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger level="INFO" name="com.icthh.xm.ms.eir.management"/>

    <logger level="WARN" name="tech.jhipster"/>

    <!-- https://www.testcontainers.org/supported_docker_environment/logging_config/ -->
    <logger level="INFO" name="org.testcontainers"/>
    <logger level="WARN" name="com.github.dockerjava"/>

    <logger level="WARN" name="jakarta.activation"/>
    <logger level="WARN" name="jakarta.mail"/>
    <logger level="WARN" name="jakarta.xml.bind"/>
    <logger level="WARN" name="ch.qos.logback"/>
    <logger level="WARN" name="com.netflix"/>
    <logger level="ERROR" name="com.netflix.config.sources.URLConfigurationSource"/>
    <logger level="INFO" name="com.netflix.discovery"/>
    <logger level="WARN" name="com.jayway.jsonpath"/>
    <logger level="WARN" name="com.ryantenney"/>
    <logger level="WARN" name="com.sun"/>
    <logger level="WARN" name="com.zaxxer"/>
    <logger level="WARN" name="io.undertow"/>
    <logger level="ERROR" name="io.undertow.websockets.jsr"/>
    <logger level="WARN" name="com.github.benmanes.caffeine"/>
    <logger level="WARN" name="org.apache"/>
    <logger level="OFF" name="org.apache.catalina.startup.DigesterFactory"/>
    <logger level="WARN" name="org.bson"/>
    <logger level="WARN" name="org.hibernate.validator"/>
    <logger level="WARN" name="org.hibernate"/>
    <logger level="OFF" name="org.hibernate.ejb.HibernatePersistence"/>
    <logger level="WARN" name="org.postgresql.jdbc"/>
    <logger level="WARN" name="org.springframework"/>
    <logger level="WARN" name="org.springframework.web"/>
    <logger level="WARN" name="org.springframework.security"/>
    <logger level="WARN" name="org.springframework.cache"/>
    <logger level="WARN" name="org.thymeleaf"/>
    <logger level="WARN" name="org.xnio"/>
    <logger level="INFO" name="io.swagger.v3"/>
    <logger level="WARN" name="sun.rmi"/>
    <logger level="INFO" name="sun.net.www"/>
    <logger level="WARN" name="sun.rmi.transport"/>
    <logger level="ERROR" name="com.tngtech.archunit.core.importer"/>
    <logger level="WARN" name="liquibase"/>
    <logger level="INFO" name="LiquibaseSchemaResolver"/>
    <!-- jhipster-needle-logback-add-log - JHipster will add a new log with level -->

</configuration>
